In [3]:
import pandas as pd

In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.1.5-cp36-cp36m-win_amd64.whl (8.7 MB)
Collecting pytz>=2017.2
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Collecting numpy>=1.15.4
  Using cached numpy-1.19.5-cp36-cp36m-win_amd64.whl (13.2 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kumar\.conda\envs\python_basic\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\kumar\.conda\envs\python_basic\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.19.5 pandas-1.1.5 pytz-2021.1

In [4]:
df = {'cars': ['bmw', 'ford'], 'rat':[5,4]}

In [5]:
df

{'cars': ['bmw', 'ford'], 'rat': [5, 4]}

In [6]:
pd.DataFrame(df)

   cars  rat
0   bmw    5
1  ford    4