In [1]:
#importing all library
import pandas as pd
import numpy as np

In [2]:
#load dataset
data = pd.read_csv('dataset.csv')

In [3]:
df = data.copy()

In [4]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360.0,1.0,Urban,Y

In [5]:
#to check type 
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [6]:
#to get unique value of column
df.Dependents.unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [7]:
#droping nan value
df.dropna(inplace=True)

In [8]:
#displaying few rows which contains '3+'
df[df['Dependents'] == '3+'].head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504,158.0,360.0,0.0,Semiurban,N
9,LP001100,Male,No,3+,Graduate,No,12500,3000,320.0,360.0,1.0,Rural,N
18,LP001206,Male,Yes,3+,Graduate,No,3029,0,99.0,360.0,1.0,Urban,Y
25,LP001238,Male,Yes,3+,Not Graduate,Yes,7100,0,125.0,60.0,1.0,Urban,Y
31,LP001253,Male,Yes,3+,Graduate,Yes,5266,1774,187.0,360.0,1.0,Semiurban,Y

In [9]:
#removing '+' with '' 
df['Dependents'] = df.Dependents.str.replace('+', '')

In [10]:
#diaplaying few rows after  update
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
189,LP002837,Male,Yes,3,Graduate,No,3400,2500,123.0,360.0,0.0,Rural,N
190,LP002979,Male,Yes,3,Graduate,No,4106,0,40.0,180.0,1.0,Rural,Y
191,LP002983,Male,Yes,1,Graduate,No,8072,240,253.0,360.0,1.0,Urban,Y
192,LP002984,Male,Yes,2,Graduate,No,7583,0,187.0,360.0,1.0,Urban,Y
193,LP002990,Female,No,0,Graduate,Yes,4583,0,133.0,360.0,0.0,Semiurban,N

In [11]:
#to get unique value of column
df.Dependents.unique()

array(['1', '0', '2', '3'], dtype=object)

In [15]:
data.Dependents.unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [16]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents             int32
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [13]:
#updating type of a column
df['Dependents'] = df.Dependents.astype(int)

In [14]:
df['Dependents'].dtypes

dtype('int32')